<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.carbs.android.indicatorview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySimple"
            android:label="@string/activity_simple"/>
        <activity
            android:name=".ActivityNormalEven"
            android:label="@string/activity_even"/>
        <activity
            android:name=".ActivityNormalUneven"
            android:label="@string/activity_uneven"/>
        <activity
            android:name=".ActivityAll"
            android:label="@string/activity_all"/>
    </application>

</manifest>